<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vivobook 16X RTX 3050</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h2>Vivobook 16X RTX 3050</h2>
    <img src="https://dlcdnwebimgs.asus.com/gain/e175078b-1501-4085-ac09-ec3f213f35e3/" class="img-fluid" alt="">
    <p>i5-12500H, RTX 3050, 16GB RAM, 512GB SSD</p>
    <p>Price: ₹84,990*</p>
    <a href="/" class="btn btn-primary">Back to Store</a>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>